<center>
    <form method='post' action='/add'>
        <input type="text" name="f_name" id="f_name" placeholder="First Name">
        <input type="text" name="l_name" id="l_name" placeholder="Last Name">
        <input type="text" name="street" id="street" placeholder="Street Address">
        <input type="text" name="city" id="city" placeholder="City">
        <input type="text" name="state" id="state" placeholder="State">
        <input type="text" name="zip" id="zip" placeholder="Zip">
        <input type="text" name="p_num" id="p_num" placeholder="Phone Number">
        <input type="submit" value="Submit">
    </form>
</center>