body {
    background-color: #960000;
    font-family: Roboto, sans-serif;
}
table {
    width: 40%;
    padding: 5px;
    margin: 20px 30px;
    display: inline-block;
    background-color: #e4e70fc4;
    border-radius: 10%;
    box-shadow: 
    -5px -5px 10px #ffffff70,
    5px -5px 10px #ffffff70,
    -5px 5px 10px #ffffff70,
    5px 5px 10px #ffffff70;

}
td {
    padding: 10px 10px 10px 10px;
    font-weight: 500;
    font-size: 1.5rem;
}
.title {
    width: 40%;
    text-align: right;
}
.value,
.name_phone {
    width: 70%;
    text-align: left;
}

.search_field {
    background-color: #e4e70fc4;
    outline: none;
    padding: 3px 5px;
    margin: 5px;
    height: 17%;
    width: 70%;
    border: 5px solid #008000;
    border-radius: 20%;
    box-shadow: 0 10px 10px #333333;
    font-size: 2rem;
    font-weight: 500;
}
#mah_form input[type=text],
#mah_form input[type=tel] {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 1px;
    width: 60%;
    font-weight: 500;
    font-size: 1.5rem;
}
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
    background-color: #00000066; /* Black w/ opacity */
}
.modal-content {
    background-color: #cbce0a;
    display: inline-block;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
    border-radius: 3rem;
}
.modal-table {
    background-color: transparent;
    box-shadow: none;
    width: 70%;
}
.close {
    color: #960000;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.btn {
    background-color: #5a5a5a;
    border: 5px solid #888888;
    color: #e4e70fc4;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100%;
    height: 15%;
    padding: 10px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 10px 10px #333333;
}
.btn:hover {
    background-color: #e4e70fc4;
    border: 5px solid #5a5a5a;
    color: #ffffff;
}
#search_form {
    width: 70%;
    display: inline-block;
}
.login_field {
    display: inline-block;
    width: 30%;
    border-radius: 2rem;
    background-color: #e4e70fc4;
    padding: 15px;
    margin: 130px 20px;
    box-shadow: 0 -10px 20px #000000;
}
.lefty {
    width: 40%;
    text-align: left;
}
.login_field input,
.login_field label {
    display: inline-block;
    padding: 5px;
    margin: 1px 0px;
}
.login_btn {
    text-align: center;
    margin: 5px 0px;
    padding: 5px 0px;
}
.login_btn span {
    color: #ff0000;
}
.welcome {
    display: inline-block;
    color: #ffffff;
    padding: 5px 0px 5px 20px;
    margin: 10px 0px;
    font-size: 2rem;
    width: 90%;
}
.logout {
    display: inline-block;
    text-align: right;
    padding: 5px 20px 5px 0px;
    margin: 10px 0px;
    width: 5%;
}
input[type=checkbox] {
    display: none;
}
.delete {
    color: #960000;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}
.delete:hover,
.delete:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}